@font-face {
  font-family: 'Overwatch';
  src: url('./assets/fonts/bignoodletitling/big_noodle_titling.ttf') format('truetype');
}

* {
  margin: 0;
}

.App-name {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 10rem;
  color: black;
  font-family: 'Overwatch';
}

.roller-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

button {
  width: 150px;
  border-radius: 8px;
  background-color: white;
  font-size: 1rem;
}

.character-box p, .character-name {
  font-size: 2rem;
  color:black;
  font-family: 'Overwatch';
}

div {
  display: block;
  position: relative;
}

.core::after {
  content: "";
  background: url('./assets/images/verwatch.jpg');
  background-size: cover;
  min-height: 100vh;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}